<script type="text/javascript">
    	    $(document).ready(function() {
    $('#contact_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            first_name: {
                validators: {
                        stringLength: {
                        min: 2,
                    },
                        notEmpty: {
                        message: 'Please supply your first name'
                    }
                }
            },
             last_name: {
                validators: {
                     stringLength: {
                        min: 2,
                    },
                    notEmpty: {
                        message: 'Please supply your last name'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your email address'
                    },
                    emailAddress: {
                        message: 'Please supply a valid email address'
                    }
                }
            },
            phone: {
                validators: {
                    notEmpty: {
                        message: 'Please supply your phone number'
                    },
                    phone: {
                        country: 'US',
                        message: 'Please supply a vaild phone number with area code'
                    }
                }
            },
            address: {
                validators: {
                     stringLength: {
                        min: 8,
                    },
                    notEmpty: {
                        message: 'Please supply your street address'
                    }
                }
            }
            }
        })
        .on('success.form.bv', function(e) {
            $('#success_message').slideDown({ opacity: "show" }, "slow") // Do something ...
                $('#contact_form').data('bootstrapValidator').resetForm();

            // Prevent form submission
            e.preventDefault();

            // Get the form instance
            var $form = $(e.target);

            // Get the BootstrapValidator instance
            var bv = $form.data('bootstrapValidator');

            // Use Ajax to submit form data
            $.post($form.attr('action'), $form.serialize(), function(result) {
                console.log(result);
            }, 'json');
        });
});


    </script>
<div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend style="text-align: center;">Form A (Vehicle Entry Pass) Green Sticker</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Department / Section</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-building-o"></i></span>
  <input name="last_name" placeholder="Mechanical" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Date Of Joining</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
  <input name="doj" placeholder="25/06/1997" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Employee Number</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-id-card-o"></i></span>
  <input name="phone" placeholder="174Ca032" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Age</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="fa fa-male"></i></span>
  <input name="doj" placeholder="25" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Select Basic -->
   
<div class="form-group"> 
  <label class="col-md-4 control-label">Sex</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fi-male-female"></i></i></span>
    <select name="state" class="form-control selectpicker" >
      <option value=" " >Select</option>
      <option>Male</option>
      <option>Female</option>
      <option>Others</option>
    </select>
  </div>
</div>
</div>

<!-- Text input-->
       <div class="form-group">
  <label class="col-md-4 control-label">E-Mail</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
  <input name="email" placeholder="E-Mail Address" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Aadhar Number</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-id-card-o"></i></span>
  <input name="aadhar_no" placeholder="123456781234" class="form-control" type="text" minlength="12">
    </div>
  </div>
</div>


<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Phone #</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="phone" placeholder="(845)555-1212" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->
      
<div class="form-group">
  <label class="col-md-4 control-label">Address</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="address" placeholder="Address" class="form-control" type="text">
    </div>
  </div>
</div>

<div class="form-group"> 
  <label class="col-md-4 control-label">Number of Vehicle</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-sort-numeric-asc"></i></i></span>
    <select name="state" id="mySelect" class="form-control selectpicker" onclick="myFunction()">
      <option value=" " >Select</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
  </div>
</div>
</div>
<p id="demo"></p>
<script>
function myFunction() {
    var x = document.getElementById("mySelect").value;
    var txt="";
    for(var i=1;i<=x;i++)
    {

    	txt += '<div class="form-group"> <label class="col-md-4 control-label">'+ i + " Vehicle Reg. No." + '</label>  <div class="col-md-4 inputGroupContainer"><div class="input-group"><span class="input-group-addon"><i class="fa fa-registered"></i></i></span><input name="address" placeholder="KA19EQ1316" class="form-control" type="text"></div></div></div><div class="form-group"><label class="col-md-4 control-label">' + "Vehicle Model" + '</label>  <div class="col-md-4 inputGroupContainer"><div class="input-group"><span class="input-group-addon"><i class="fa fa-car"></i></span><input name="address" placeholder="Alto" class="form-control" type="text"></div></div></div><div class="form-group"><label class="col-md-4 control-label">Type of Vehicle</label>  <div class="col-md-4 inputGroupContainer"><div class="input-group"><span class="input-group-addon"><i class="fa fa-bus"></i></span><input name="address" placeholder="4 Wheeler" class="form-control" type="text"></div></div></div><div class="form-group"><label class="col-md-4 control-label">' + "RC (Registration Certificate)" + '</label><div class="col-md-4 inputGroupContainer"><div class="input-group"><span class="input-group-addon"><i class="fa fa-file-pdf-o"></i></span><input name="rc" placeholder="" class="form-control" type="file" required="required"></div></div></div>'
    }
    document.getElementById("demo").innerHTML = txt;
}
</script>

<div class="form-group">
  <label class="col-md-4 control-label">Aadhar Card</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-file"></i></span>
  <input name="aadhar_card" placeholder="" class="form-control" type="file" required="required">
    </div>
  </div>
</div>


<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div>